<h2>Reporte</h2>

<div *ngIf="reporte">
  <h1>{{ reporte.name }}</h1>
  <h4>Categoría: {{ reporte.type }}</h4>
  <p>{{ reporte.description }}</p>
  <div *ngIf="reporte.status == 'Registrado'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <p class="status" style="background: #C20303"> {{ reporte.status }} </p>
    </ng-template>
    <ng-template #elseBlock>
      <p class="status" style="background: #2BD639"> {{ reporte.status }} </p>
    </ng-template>
  <p>Veces Reportado: {{ reporte.veces_reportado }}</p>
</div>
