* {
  box-sizing: border-box;
  overflow: hidden;
}

.login {
  margin: 10% 0;
  padding: 0;
}

.custom-form {
  max-width: 96%;
  margin: 0px auto;
  padding: 0 3rem;
  color: black;
  margin-top: 0;
}

.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  padding: 1rem;
  transition: 0.3s;
}

.custom-form input:focus {
  border-width: 0 0 2px;
  border-color: #083F9D;
}

.buttons {
  position: relative;
  margin: 6em 0;
  padding: 0;
}

.buttons button {
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  background-color: #083F9D;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
  transition: 0.1s;
}

.buttons button.facebook {
  background-color: #3B5998;
}

.buttons button.google {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.buttons button:active {
  background-color: #fff;
  color: #083F9D;
}

a {
  float: right;
}

p {
  text-align: center;
}

p a {
  float: none;
}
