.description {
  width: 90%;
}

.status {
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  color: #fff;
  width: 90%;
  padding: 5px;
  border: 1;
}

.reportes {
  width: 100%;
  display: block;
  position: relative;
  overflow: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.data {
  width: 100%;
}

.mapa{
  width: 122px;
  height: 122px;
  border: 1px solid #000;
  border-radius: 30px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 30px;
}

p.title {
  margin: 0;
  padding: 0 10px;
}

/* Boton reportar */
button{
  position: fixed;
  color: white;
  bottom: 20px;
  width: 92%;
  right: 4%;
  left: 4%;
  height: 55px;
  background-color: #1ABFC2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
  border: 0;
}
