.status {
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  color: #fff;
  width: 200px;
  padding: 5px;
  border: 1;
}

.reportes {
  margin-left: 30px;
}

hr {
  margin-left: -20px;
  margin-right: 10px;
}

.veces_reportado {
  margin-left: -20px;
}

.mapa{
  position: absolute;
  height: 125px;
  width: 125px;
  right: 30px;
  background-color: #fff;
  transform: translateY(-50%);
  border-style: solid;
  border-radius: 30px;
  border-width: 1px;
  z-index: 0;
}
