/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 18px;
}

h1, h2 {
  font-weight: bold;
  color: #000;
}

p {
  font-size: 14px;
  color: #616161;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* App top Bar */
.bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #083F9D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  z-index: inherit;
}

.bar2 {
  position: fixed;
  top: 0;
  width: 60%;
  height: 90px;
  transform: skewX(-60deg);
  transform-origin: left top;
  background-color: #1ABFC2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px -3px 10px rgba(0, 0, 0, 0.5);
}

.space {
  height: 90px;
}

app-top-bar h2 {
  position: absolute;
  color: white;
  margin: 16px;
  text-decoration: underline;
}

app-top-bar {
  z-index: 1;
}

/* Boton reportar */
.btnregistrar {
  position: fixed;
  bottom: 0;
  left: 2%;
  right: 2%;
  width: 96%;
  height: 60px;
  background-color: #083F9D;
  border-radius: 20px 20px 0 0;
}

.btnregistrar2 h2{
  position: fixed;
  color: white;
  bottom: -15px;
  width: 92%;
  right: 4%;
  left: 4%;
  height: 55px;
  background-color: #1ABFC2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
}
