.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}

a {
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  text-align: center;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  background-color: #083F9D;
  width: 200px;
  display: block;
  padding: 0.875rem 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
  transition: 0.1s;
}
